@media (min-width: 991px) {
    .top {
        display: flex;
    }

    .menuBars {
        display: none;
    }

    .NavMenu {
        gap: 25px;
        font-size: 12px !important;
        padding-right: 20px;
        font-weight: 500;
        text-transform: uppercase;
        transition: 0.3s;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        position: inherit;
        height: inherit;
        top: 0;
        left: 0;
        padding: 20px;
        background-color: transparent;
        width: max-content;
        font-size: inherit;
        color: black;
        transform: inherit;
    }


    .dropDown:hover .rotate {
        transform: rotate(-180deg);
    }

    .dropDown {
        transition-delay: 0.3s;
    }

    .dropDown:hover .dd-menu {
        visibility: visible;
        opacity: 1;
    }

    .dd-menu {
        position: absolute;
        transition-delay: 0.3s;
        top: 100%;
        margin: 0;
        visibility: hidden;
        opacity: 0;
        padding: 20px;
        width: 200px;
        background-color: white;
    }

    header {
        position: relative;
    }

    #blog {
        width: max-content;
    }

    .NavElements {
        padding: 0;
    }

    .dropDown {
        height: inherit;
    }

    .optHidden {
        font-size: 12px;
        padding-right: 100px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.281);
        color: black;
        position: absolute;
        left: -177px;
        visibility: hidden;
        opacity: 0;
        top: 0px;
        background-color: white;
    }

    .main {
        height: 100vh;
    }

    .h1-1 {
        font-size: 70px;
        line-height: 85px;
    }

    .bannerContent h5 {
        font-size: 12px;
        line-height: 17px;
    }

    .bannerContent h6 {
        font-size: 14px;
    }

    .m2t2 {
        width: 72%;
        margin: 0;
    }

    .m2t2 p {
        text-align: left;
    }

    .m2t2a {
        display: block;
    }

    .main-3 {
        margin-top: 5px;
    }

    .m3container {
        flex-direction: row;
    }

    .main-3bg {
        padding: 100px;
    }

    .main-4 {
        flex-direction: row;
        padding: 100px;
    }
    .m4-left{
        width: 45%;
        margin: 0;
    }
    .m4-right{
        width: 50%;
        margin: 0;
    }
    #vdoOpen video{
        width: inherit;
        height: inherit;
        max-height: 400px;
        max-width: 700px;
    }
    .main-5{
        padding: 100px;
    }
    .m5-cBoxes {
        width: 45%;
    }
    .m5-cBox1{
        margin-left: 0%;
    }
    .mobdots{
        display: none;
    }
}

@media (max-width: 1676px) and (min-width: 991px) {
    .m2t2a {
        margin: 0;
    }

    .main-3 {
        margin-top: 400px;
    }
}