* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #d1ab80;
}

.mobdots {
    display: block;
}

.main {
    max-width: 100vw;
    margin: auto;
    margin-top: 0px;
    /*-88*/
    overflow: hidden;
    height: 80vh;
    background: url(../img/banner-bg.jpg) center center;
    background-size: cover;
    background-attachment: fixed;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.44);
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topContainer {
    max-width: 1140px;
    margin: auto;
}

.top {
    width: 100%;
    padding: 20px;
    display: none;
    transition: 0.2s;
    font-size: 12px;
}

.icons {
    gap: 15px;
    transition: 0.3s;
    color: white;
}

.icons i:hover {
    color: #d1ab7f;
}

.icons i {
    transition: 0.3s;
}

.default {
    cursor: default;
}

.pointer {
    cursor: pointer;
}

.contact {
    color: white;
    gap: 40px;
}

.contact div {
    gap: 5px;
}

.topNav {
    max-width: 1140px;
    margin: auto;
}

header {
    background-color: white;
    padding: 10px 20px;
    margin: auto;
    max-width: 1140px;
    position: sticky;
    transition: 0.1s;
    z-index: 10;
    top: 0px;
    left: 0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.301);
}

.headerActive {
    width: 100%;
    max-width: 100%;
    top: 0;
}

.NavMenu {
    gap: 25px;
    font-size: 12px;
    padding-right: 20px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.863);
    width: 70%;
    font-size: 15px;
    color: white;
    transform: translateX(-100%);
}

.navMenuVisible {
    transform: translateX(0%);
}

.dropDown {
    gap: 10px;
    transition: 0.5s;
    height: 62px;
    overflow: hidden;
}

.dropDown i {
    transition: 0.5s;
}


.rotation {
    transform: rotate(-180deg);
}

.dd-menu {
    position: relative;
    padding: 0px 15px 15px 15px;
    width: 150px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.281);
    gap: 15px;
    transition: 0.5s;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
}

.hover-color:hover {
    color: #d1ab7f;
}

.hover-color {
    transition: 0.3s;
}

.dropDown:hover .dd-menu {
    visibility: visible;
    opacity: 1;
}

.NavElements {
    width: max-content;
    padding: 20px;
}

.open {
    height: 180px;
}

.fullopen {
    height: 280px;
}

.menuBars {
    font-size: 25px;
    position: relative;
    transition: 0.5s;
}

.menuBarsHide {
    opacity: 0;
    visibility: hidden;
}

.cross {
    font-size: 30px;
    position: absolute;
    top: 2px;
    left: 1px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.crossVisiable {
    opacity: 1;
    visibility: visible;
}

#blog {
    width: 85%;
    height: 20px;
}

.relative {
    position: relative;
}

.optHidden {
    gap: 25px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 15px;
    width: max-content;
    color: white;
    left: 0;
    position: relative;
}

.optVisible {
    visibility: visible;
    opacity: 1;
}

#lavel2:hover .optHidden {
    visibility: visible;
    opacity: 1;
}

.opt {
    height: max-content;
    max-width: 150px;
    overflow: hidden;
}

.lvl2 {
    height: 30px;
}

#lavel2 {
    align-items: flex-start;
}

.banner {
    width: 100%;
    padding: 50px;
    height: 70vh;
}

.text-uppercase {
    text-transform: uppercase;
}

.bannerContent {
    color: white;
    margin: auto;
    width: 95%;
    text-align: center;
}

.bannerContent h6 {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: #d1ab80;
}

.h1-1 {
    font-size: 47px;
    line-height: 52px;
}

.bannerContent h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 1.5px;
}

.chkBtn {
    border: 2px solid #d1ab80;
    border-radius: 0px;
    outline: none;
    background-color: #d1ab80;
    color: white;
    padding: 10px 25px;
    margin-top: 30px;
    transition: 0.3s;
    font-size: 18px;
}

.chkBtn:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.main-2 {
    max-width: 1140px;
    margin: 100px auto;
    text-align: left;
}

.theamColor {
    color: #dfa25e;
}

.m2t1 {
    font-size: 14px;
}

.m2t2 {
    width: 90%;
    margin: auto;
    padding: 10px;
}

.m2t2-h1 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 600;
    color: #212121;
    margin: 20px 0px;
}

.m2t2t1 {
    font-weight: 300;
}

.m2t2 p {
    margin: 20px 0px;
    color: #787878;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
}

.para {
    color: #787878;
    width: max-content;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    margin: auto;
}

.chkbtn1 {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0px;
}

.chkbtn1:hover {
    border: 2px solid #d1ab80;
    color: #d1ab80;
}

.m2t2a {
    position: absolute;
    right: 0;
    margin-top: -300px;
    display: none;
}

.main-3 {
    margin: auto;
    max-width: 1140px;
    text-align: center;
}

.main-3bg {
    width: 100%;
    background-color: #fafaff;
    padding: 50px 0px;
}

.m-auto {
    margin: auto;
}

.t-center {
    text-align: center;
}

.main-3 .m2t2-h1 {
    margin: 12px auto;
}

.m3container {
    width: 100%;
    gap: 30px;
    flex-direction: column;
    margin-top: 100px;
}

.m3c-boxes {
    width: 90%;
}

.m3c-b-img img {
    border-radius: 50%;
    overflow: hidden;
    transition: 0.3s;
}

.bold {
    font-weight: 600;
}

.m3container .para {
    width: 100%;
    text-align: center;
    margin: 10px auto;
}

.m3container .hover-color {
    margin: 10px auto;
    color: #212121;
    font-size: 18px;
}

.m3c-boxes:hover img {
    transform: scale(1.1);
}

.m3c-boxes:hover .hover-color {
    color: #d1ab80;
}

.main-4 {
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
    padding: 50px 10px;
}

.m4-left {
    width: 95%;
    margin: auto;
    text-align: left;
}

.m4-h1 {
    width: 78%;
    line-height: 45px;
    font-size: 33px;
    font-weight: 600;
    color: #212121;
    margin: 12px 0px;
}

.small {
    font-size: 14px;
}

.m4-right {
    width: 95%;
    margin: auto;
}

.main-4 .para {
    width: 100%;
    margin: 10px 0px;
}

.vdo {
    background: url(../img/video-bg.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
}

.chkbtn2 {
    color: white;
    background-color: #212121;
    margin: 50px 0px;
    border: 2px solid #212121;
}

.chkbtn2:hover {
    background-color: transparent;
    color: #d1ab80;
    border: 2px solid #d1ab80;
}

.dark-overlay {
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    margin-top: -87.3vh;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    padding: 20px;
}

.body {
    overflow: hidden;
}

.dark-overlayVisible {
    visibility: visible;
    opacity: 1;
}

#vdoOpen video {
    width: 80%;
    height: 40%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.281);
}

.main-5 {
    width: 100%;
    background: url(../img/review-bg.jpg) center center;
    background-size: cover;
    padding: 100px 5px;
    position: relative;
    color: white;
}

.m-5Parent {
    max-width: 1140px;
    position: relative;
    z-index: 1;
    margin: auto;
    overflow: hidden;
}

.m5-cBoxes {
    text-align: left;
    flex: 0 0 auto;
    transition: 1s;
    margin-right: 50px;
}

.m5-container {
    margin-top: 50px;
    padding: 0px 40px;
}

.m-5bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000094;
    z-index: 0;
    position: absolute;
}

.big {
    font-size: 18px;
}

.star {
    font-size: 13px;
    margin-left: 2px;
}

.glow-star {
    color: rgb(197, 145, 13);
}

.m5-bText {
    margin: 10px 0px;
    width: max-content;
}

.para-m5 {
    width: 100%;
    font-size: 13px;
    color: white;
}

.slick-dots li {
    width: 10px;
    cursor: pointer;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 1px;
    transition: 1s;
}

.slick-dots .slick-active {
    background-color: #dfa25e;
    transform: scale(1.3);
}

.slick-dots li button,
#slick-slide-control00 {
    width: 10px;
    background-color: transparent;
    height: 10px;
    opacity: 0;
    color: transparent;
}

.main-6 {
    margin: auto;
    max-width: 1140px;
    padding: 20px;
}

.m6-h1 {
    margin: auto;
    text-align: center;
    font-size: 33px;
    font-weight: 600;
    color: #212121;
    margin: 12px 0px;
}

.m6t1 {
    width: 75%;
    font-weight: 400;
    color: #787878;
    margin: auto;
    text-align: center;
}

.m6-cboxes {
    max-width: 100%;
}

.m6-Container {
    gap: 30px;
    margin-top: 70px;
}

.m6cbleft {
    gap: 15px;
}

.m6cbperson {
    border-bottom: 1px solid #78787838;
    margin: 1px 0px;
}

.m6cb-profileName {
    font-weight: 300;
    color: #313131;
    margin-top: 3px;
    font-size: 14px;
}

.m6-cbRight {
    font-weight: 300;
    color: #787878;
    font-size: 14px;
    gap: 15px;
    margin-top: -7px;
}

.m6-cbComentIcon,
.m6-cbLikeIcon {
    gap: 5px;
}

.m6ct1 {
    font-weight: 300;
}

.m6-cboxes:hover .hover-color {
    color: #dfa25e;
}

.m6cb-img {
    width: 100%;
    overflow: hidden;
    height: 300px;
    margin-bottom: 15px;
}

.hov {
    transition: 0.3s;
    width: 100%;
    height: 300px;
}

.m6-cboxes:hover .m6cb-img img {
    transform: scale(1.1);
}

footer {
    width: 100%;
    background-color: #04091f;
    padding: 0px 30px 50px 30px;
}

.footer {
    margin: auto;
    max-width: 1140px;
    gap: 10px;
    color: white;
}

.ftContainer {
    width: 100%;
    margin-top: 50px;
}

.ftContainer-3 {
    width: 100%;
    margin-top: 50px;
}

.ftcH1 {
    margin-bottom: 20px;
}

.Emailinput {
    width: 90%;
    padding: 5px 10px;
    border: none;
    border-radius: 1px;
    height: 40px;
    font-size: 16px;
    outline: navajowhite;
}

.Emailbtn {
    width: 10%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfa25e;
    cursor: pointer;
}

.Email {
    width: 80%;
}

.iconsXfooter {
    font-size: 14px;
    margin-top: 20px;
    gap: 30px;
}

.copyright {
    width: 100%;
    margin-top: 20px;
    color: white;
}

.mainAboutUs {
    max-height: 40vh;
}

.bannerAboutUS {
    padding: 20px;
    height: 40vh;
}

.main-7 {
    width: 100%;
    padding: 100px 20px;
    background: url(../img/pattern-bg.jpg) center center;
    background-size: cover;
}

.main-7Child {
    margin: auto;
    max-width: 1140px;
}

.m7mBoxes {
    padding: 7px 25px;
    color: black;
    transition: 0.3s;
    background-color: white;
    font-weight: 500;
    font-size: 16px;
}

.m7Menues {
    max-width: 650px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
}

.m7mBoxesActive {
    color: white;
    background-color: #d1ab80;
}

.m7cBoxes {
    background: white;
    padding: 10px 50px 30px 40px;
    border-radius: 10px;
    margin-top: 25px;
    flex-direction: column;
    gap: 30px;
}

.m7cB-left {
    max-width: 100%;
}

.m7cB-lH1 {
    margin: 10px 0px 15px 0px;
}

.m7cB-right {
    width: 70%;
    margin: auto;
}

.m7container {
    margin-top: 100px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;

}

.m7containerActive {
    visibility: visible;
    opacity: 1;
    position: static;

}

.para-m7 {
    width: 100%;
    font-size: 14px;
}

.m7cB-rBBox2 {
    margin-top: 15px;
}

.para-m6t {
    width: 100%;
}

.m6TeamContainer {
    max-width: 1140px;
    margin: 100px auto;
    gap: 20px;
}

.m6tcBoxes {
    width: 45%;
}

.m6tcbT1,
.m6tcbT2 {
    text-align: center;
}

.m6tcbT1 {
    margin-top: 20px;
}

.m6tcbImg img {
    width: 100%;
    height: 100%;
}

.m6tcbimgOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d1ab809f;
}

.m6tcbSocial {
    color: white;
    gap: 25px;
    font-size: 22px;
}

.m6tcbImg {
    overflow: hidden;
}

.m6tcbImg:hover .m6tcbimgOverlay {
    opacity: 1;
    visibility: visible;
}

.mainBlogHome {
    height: 70vh;
    background: url(../img/blog/blog-home-banner.jpg) center center;
    background-size: cover;
}

.mbhH1 {
    font-size: 45px;
    font-weight: 600;
    margin: auto;
    line-height: 50px;
    max-width: 95%;
}

.chkBtnBH {
    color: black;
    background-color: white;
    border-color: white;
}

.chkBtnBH:hover {
    color: white;
    background-color: transparent;
}

.main-8 {
    max-width: 1140px;
    margin: auto;
    padding: 50px 20px;
    flex-direction: column;
    gap: 20px;
}

.m8Boxes {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.m8Boxes img {
    width: 100%;
    height: 100%;
}

.m8BOverlay {
    position: absolute;
    padding: 40px;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.m8BOChild {
    background: #000000dc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 100%;
    padding: 30px;
    transition: 0.3s;
    width: 100%;
}

.hro {
    margin: 5px auto;
    background-color: #fff;
}

.m8BOverlay:hover .m8BOChild {
    background-color: #d1ab80c7;
}

.main-9 {
    max-width: 1140px;
    margin: auto;
    padding: 50px 20px;
    gap: 20px;
    flex-direction: column;
}

.m9ContainerLeft {
    width: 100%;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.m9CLTLeftChild {
    margin-top: 30px;
    font-weight: 300;
}

.m9CLBottom {
    max-width: 555px;
    justify-self: center;
}

.m9CLBT1 {
    font-size: 25px;
}

.para-1 {
    width: 100%;
    text-align: left;
    margin: 15px auto;
}

.m9CLBbtn {
    padding: 7px 20px;
    font-weight: 500;
    background-color: #f8f8ff;
    cursor: pointer;
    max-width: max-content;
    transition: 0.3s;
}

.m9CLBbtn:hover {
    background-color: #d1ab80;
    color: white;
}

.m9CLTLBBoxes {
    gap: 10px;
}

.m9CLTLBBIcon {
    font-size: 15px;
}

.m9CLTLBBT1 {
    font-weight: 300;
    font-size: 14px;
    color: #787878;
}

.m9CLTLBottom {
    margin-top: 40px;
    flex-direction: inherit;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}

.flex {
    display: flex;
}

img {
    max-width: 100%;
}

.m9CLTop {
    flex-direction: column;
    gap: 20px;
    max-width: 555px;
    margin: auto;
}

.m9CLTLTp {
    flex-direction: row;
}

.m9CLTRight {
    text-align: center;
}

.m9ContainerRight {
    border: 1px solid #ededed;
    width: 100%;
    height: max-content;
    padding: 50px 5px;
}

.m9CRSearch {
    background-color: #d1ab80;
    overflow: hidden;
    color: white;
    border-radius: 50px;
    width: 85%;
    margin: 50px auto 0px auto;
}

.m9CRSearch input {
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
    font-size: 15px;
    padding: 14px 0px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

.m9CRSearch input::placeholder {
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.m9CRSIcon {
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hr-2 {
    margin: 30px auto;
    max-width: 90%;
    background-color: #ededed;
}

.m9CRContainer-1 {
    width: 100%;
    margin: auto;
    padding: 0px 20px;
    text-align: center;
}

.m9CRContainer-1 .bold {
    color: #212121;
    margin-top: 26px;
}

.iconsXblog {
    justify-content: center;
    margin: 15px auto;
}

.iconsXblog i {
    color: black;
}

.m9CRTitleBox {
    width: 95%;
    margin: auto;
    padding: 10px;
    background-color: #d1ab80;
    color: white !important;
}

.m9CRC2R-top {
    margin: 5px 10px !important;
}

.m9CRC2Right .para-1 {
    margin: 5px 10px;
}

.m9CRC2-1 {
    margin-top: 10px;
}

.m9CRContainer-2 {
    margin: auto;
}

.m9CRContainer-3 {
    flex-direction: column;
    width: 90%;
    min-height: 250px;
    background-color: #e2dada36;
    margin: auto;
}

.m9CRC3T1 {
    font-size: 23px;
    color: #cccccc;
    font-weight: 500;
}

.m9CRC4-1 {
    margin: auto;
    border-bottom: 2px dotted #cccccc;
    padding: 12px 0px 7px 0px;
    width: 90%;
    transition: 0.3s;
    font-size: 14px;
    color: #787878;
    font-weight: 300;
}

.m9CRC4-1:hover {
    color: #d1ab80;
    border-color: #d1ab80;
}

.m9CREmail {
    max-width: 90%;
    margin: auto;
}

.m9CREmail input::placeholder {
    color: #ccd2d9;
}

.m9CREmail input {
    padding: 5px;
    border: none;
    outline: none;
    width: 80%;
    font-size: 16px;
    color: #ccd2d9;
}

.m9CREC-1 {
    width: 75%;
    border: 1px solid #ccd2d9;
}

.m9CREbtn {
    background-color: #d1ab80;
    max-width: 95px;
    font-size: 12px;
    color: white;
    border: 1px solid #d1ab80;
    height: 100%;
    padding: 10px;
}

.m9CREC1-1 {
    color: #ccd2d9;
    padding: 0px 10px;
}

.max-content {
    width: max-content;
}

.m9CRContainer-5 {
    max-width: 95%;
    margin: auto;
    gap: 10px;
    margin-top: 10px;
}

.m9CRC5Boxes {
    padding: 7px 10px;
    background-color: #f8f8f8;
    font-weight: 300;
    font-size: 12px;
    border: 1px solid #ededed;
    transition: 0.3s;
}

.m9CRC5Boxes:hover {
    color: white;
    background-color: #d1ab80;
}